@font-face {
  font-family: 'iconfont';  /* project id 2514874 */
  src: url('//at.alicdn.com/t/font_2514874_0e36molwuqh.eot');
  src: url('//at.alicdn.com/t/font_2514874_0e36molwuqh.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2514874_0e36molwuqh.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2514874_0e36molwuqh.woff') format('woff'),
  url('//at.alicdn.com/t/font_2514874_0e36molwuqh.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2514874_0e36molwuqh.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e657";
}

.icon-home:before {
  content: "\e665";
}

.icon-fenlei:before {
  content: "\edb5";
}

.icon-yonghu:before {
  content: "\e610";
}

